<h3>Ha solicitado reiniciar su contraseña</h3>

¡Hola {{ username }}! Le enviamos este correo dado que ha solicitado reiniciar su contraseña.
<br>
Su nueva contraseña es: {{ password }}
<br>
Recuerde modificar esta en su perfil una vez inicie sesión.<br>
¡Gracias y esperamos que siga disfrutando de esta comunidad de jugadores!