{% block body %}
    <h1>Página no encontrada</h1>

    <p>
        No se ha podido localizar la página solicitada. Comprueba cualquier error
        escribiendo la URL o <a href="{{ path('homepage') }}">vuelve al inicio</a>.
    </p>
{% endblock %}