{% extends 'base.html.twig' %}

{% block stylesheets %}

{% endblock %}

{% block body %}
<div style="margin:200px;">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="hola">
        Hola soy un botón
    </button>

    <div class="modal" id="exampleModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Minecraft | | 10-12-18 23:34</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Líder: Juanito39<br>
                Descripción: blblblblfglkfgklf gfkjgfkj gfkjgfkj fkgjfkjg
                Participantes: <ul><li>Este</li><li>El otro</li></ul>
                Huecos restantes: 1
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Inscribirse</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Entrar al chat</button>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}

<script type="text/javascript">  

$('#exampleModal').on('show.bs.modal', function (event) {
    var $modal = $(this);
    $modal.find('.modal-title').text('Hola');
});
</script>  

{% endblock %}