{% extends 'base_index.html.twig' %}

{% block body %}
<section class="login_block">
    <div class="col-sm-8 offset-sm-2 col-md-8 offset-md-2 col-lg-6 offset-lg-3 global_panel">
        <div class="">
            <h2 class="text-center">Recuperar contraseña</h2>
            <p class="text-center">Introduzca su correo electrónico y se le enviará una nueva contraseña al mismo</p>
            <form action="{{ path('reset_password_form') }}" method="post">
                <div class="form-group">
                    <input type="email" class="form-control" name="email_reset_password" id="email_reset_password" placeholder="Introduzca su correo electrónico" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Enviar</button>
            </form>
            <br>
        </div>
    </div>
</section>
{% endblock %} 