<!DOCTYPE html>
<html>
    {% include 'layout/header.html.twig' %}
    <body>
        
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %} 
        
    </body>
</html>