.flash_message_group {
    width:50%;
    left: 25%;
    margin-top: 10px;
    text-align: center;
    display: none;
}

.flash_error_group {
    width:50%;
    left: 25%;
    margin-top: 10px;
    text-align: center;
}

.group_panel {
    margin-top: 100px;
    margin-left:50px;
    margin-right: 50px;
}

.group_form_field {
    margin-bottom: 5px;
}

.group_card {
    margin-bottom: 30px;
}

.platform_filter {
    margin-bottom: 5px;
}

.loading_group_div {
    text-align: center;
}

.div_messages {
    width: 100%; 
    height: 400px; 
    background-color: rgba(173, 172, 172, 0.815);
    border: 1px solid black;
    overflow: auto;
}