.games_panel {
    margin-top: 56px;
}

.menu_games{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

.menu_games li {
    float: left;
}

.menu_games li a {
    display: block;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.menu_games li a:hover {
    color:black;
}

.menu_games_active {
    border-bottom:3px solid green;
}

.img_hola {
    border: 2px solid grey;
    margin-right:15px;
    margin-top:5px;
    margin-bottom: 5px;
}

.games_row {
    justify-content: center;
    display:flex;
}

.games_row > img {
    margin: 20px;
}

.games_elements {
    background-color: lightgray
}

.game_tournament_link:hover {
    text-decoration: none;
}

.div_tournaments {
    margin-top:60px;
    margin-bottom:60px;
}

.div_table {
    margin-left:50px;
    margin-right: 50px;
}

.tournaments_table_head {
    border:1px #32383e solid;
}

.tournaments_table_body {
    border:1px #dee2e6 solid;
}

.center_column {
    text-align:center;
}

.vertical_align_column {
    vertical-align : middle;
}

.new_rule_tournament {
    margin-top:2px;
}