<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav mx-auto">
            <li class="nav-item active">
                <a class="nav-link" href=""><i class="fas fa-home"></i> INICIO<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('tournaments') }}"><i class="fas fa-trophy"></i> TORNEOS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=""><i class="fas fa-list-ol"></i> RANKINGS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=""><i class="fas fa-users"></i> GRUPOS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=""><i class="fas fa-comment-alt"></i> CHATS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=""><i class="fas fa-user"></i> PERFIL</a>
            </li>
        </ul>
    </div>
</nav>

