.followings_panel {
    margin-top: 10px;
    margin-bottom: 50px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.following_img {
    width: 35px;
    height: 35px; 
    float:left;
    border: solid black 1px;
}

.following_data {
    margin-left: 50px;
}

.following_accounts {
    margin-left: 50px;
}

.fa-steam {
    color: #343a40;
}

.fa-xbox {
    color: #28a745;
}

.fa-playstation {
    color: #007bff;
}